// heading

.heading-lv2 {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 4px solid #e25c00;
  font-size: 1.75rem;
  font-weight: bold;
}

// media
.media {
  $this: &;

  display: flex;
  align-items: center;

  &__img {
    flex: 0 1 calc(331px / $width-content * 100%);
    margin-right: 3.33333%;
    img {
      max-width: 100%;
    }
  }

  &__content {
    flex: 1;
  }

  &__tit {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
  }

  &__text {
    margin: 0;
  }

  &--reverse {
    flex-direction: row-reverse;

    #{$this}__img {
      margin-right: 0;
    }

    #{$this}__content {
      margin-right: 3.33333%;
      text-align: right;
    }
  }
}

@media (max-width: 767px) {
  .media {
    $this: &;

    display: block;

    &__img {
      flex: none;
      margin: 0;

      img {
        width: 100%;
      }
    }

    &--reverse #{$this}__content {
      text-align: left;
    }
  }
}

// btn
%btn {
  display: inline-block;
  background-color: #e25c00;
  border: 2px solid transparent;
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  transition: 0.25s;
}

.btn {
  @extend %btn;

  padding: 20px 10px;
  width: 300px;
  max-width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  &:focus,
  &:hover {
    background-color: #fff;
    border-color: currentColor;
    color: #e25c00;
  }

  &--warning {
    background-color: #f1de00;
    color: #222;

    &:focus,
    &:hover {
      border-color: #f1de00;
      color: #222;
    }
  }

  &--large {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 340px;
  }

  &--arrow-r {
    position: relative;
    padding-right: 2em;
    padding-left: 1.38em;

    &::after {
      content: '\f061';
      position: absolute;
      top: 50%;
      right: 0.83em;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      transform: translateY(-50%);
    }
  }
}

// 베리에이션은 따로 만든다
// 기존 .btn과 공통요소는 extend로 분리
.round-btn {
  @extend %btn;

  padding: 15px 10px;
  width: 236px;
  border-bottom-color: #d40152;
  border-radius: 10px;

  &:focus,
  &:hover {
    background-color: #fff;
    border-color: currentColor;
    color: #e25c00;
  }
}
